<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Subtask</title>
  <link rel="stylesheet" th:href="@{/css/card_subtask.css}">
</head>
<body>
  <div class="column">
    <div class="column-title">Frontend</div>
    <div class="column-description">Hacer estructura base de los html</div>

    <div class="section-title">Comentarios</div>

    <div class="card-form">
      <div class="card-buttons">
        <button class="card-comment">Add a comment</button>
        <button class="card-delete">Delete</button>
      </div>

      <button class="card-completed">Completed</button>
    </div>
  </div>
</body>
</html>
