<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
  <link rel="stylesheet" href="/src/main/resources/Static/CSS/card_task.css">
</head>
<body>
  <div class="column">
    <div class="column-title">Frontend</div>
    <div class="column-description">Hacer estructura base de los html</div>
    <div class="progress-title">Progress bar</div>
    
    <progress class="column-progress" value="2" max="4"></progress>

    <div class="section-title">Subtareas</div>

    <div class="card-form">
      <div class="card-buttons">
        <button class="card-add">Add a subtask</button>
        <button class="card-delete">Delete</button>
      </div>
    </div>
  </div>
</body>
</html>
