<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Documentoss</title>
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/board.css">
  <link rel="stylesheet" href="/css/card_task.css">
  <link rel="stylesheet" href="/css/card_subtask.css">
  <link rel="stylesheet" href="/css/comment.css">
  <link rel="stylesheet" href="/css/modal_comment.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/general.css">
</head>

<body id="cuerpo-general">

  <header class="header">
    <div class="logo"><span>STM</span></div>

    <div><button onclick="cerrarSesion()">Cerrar Sesion</button></div>
  </header>

  <!-- esto de aqui es el modal -->
  <div id="overlay" class="overlay">
    <div class="modal">
      <label>Título</label>
      <input type="text" class="modal-input" id="modal-title" placeholder="Título">

      <div class="modal-section">
        <label>Descripción</label>
        <textarea class="modal-textarea" id="modal-description" placeholder="Escribe una descripción..."></textarea>
      </div>

      <div class="modal-actions">
        <button class="btn-success" id="modal-submit">Create</button>
        <button onclick="closeModal()" class="btn-danger">Cancel</button>
      </div>
    </div>
  </div>
  <!-- Aqui termina el modal -->

  <div class="Cuerpo">
    <div class="board" id="board">
      <button class="add-list" id="add-list">➕ Add a task</button>
    </div>
  </div>


  <script src="/js/task.js"></script>
  <script src="/js/subtask.js"></script>
  <script src="/js/comment.js"></script>
  <script src="/js/modal.js"></script>  
  <script src="/js/general.js"></script>

</body>

</html>
