<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Documentoss</title>
  <link rel="stylesheet" th:href="@{/css/general.css}">
  <link rel="stylesheet" th:href="@{/css/board.css}">
  <link rel="stylesheet" th:href="@{/css/card_task.css}">
  <link rel="stylesheet" th:href="@{/css/card_subtask.css}">
  <link rel="stylesheet" th:href="@{/css/comment.css}">
  <link rel="stylesheet" th:href="@{/css/modal.css}">

</head>

<body>

  <header class="header">
    <div class="logo"><span>STM</span></div>
    <nav class="nav">
      <ul>
        <li><a href="#">Espacios de trabajo</a></li>
        <li><a href="#">Reciente</a></li>
        <li><a href="#">Marcado</a></li>
        <li><a href="#">Plantillas</a></li>
      </ul>
    </nav>
    <button class="create-button" onclick="openModal()">Crear</button>
  </header>
<!-- esto de aqui es el modal-->
  <div id="overlay" class="overlay">
    <div class="modal">
      <label>Título</label>
      <input type="text" class="modal-input" placeholder="Título">

      <div class="modal-section">
        <label>Descripción</label>
        <textarea class="modal-textarea" placeholder="Escribe una descripción..."></textarea>
      </div>

      <div class="modal-actions">
        <button class="btn-success">Create</button>
        <button onclick="closeModal()" class="btn-danger">Cancel</button>
      </div>

    </div>
  </div>
<!-- Aqui termina el modal-->
  <div class="Cuerpo">
    <div class="board" id="board">
      <button class="add-list" id="add-list">➕ Add a task</button>

    </div>
  </div>

  <a href="/board">Board</a><br>
  <a href="/comment">Comment</a><br>
  <a href="/modal">Modal</a>

  <script th:src="@{/js/task.js}"></script>
  <script th:src="@{/js/subtask.js}"></script>
  <script th:src="@{/js/comment.js}"></script>
  <script th:src="@{/js/modal.js}"></script>
</body>

</html>