<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Simple</title>

    <link rel="stylesheet" href="/css/login.css"> 

</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario"><br><br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena"><br><br>
        <button onclick="login()">Iniciar sesión</button>
    </div>

  
  <script src="/js/login.js"></script>
</body>
</html>