<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
</head>
<body>

<div class="overlay">
    <div class="modal">

        <label>Título</label>
        <input type="text" class="modal-input" placeholder="Título">

        <div class="modal-section">
            <label>Descripción</label>
            <textarea class="modal-textarea" placeholder="Escribe una descripción..."></textarea>
        </div>

        <div class="modal-actions">
            <button class="btn-success">Create</button>
            <button class="btn-danger">Cancel</button>
        </div>

    </div>
</div>

<script src="/js/pages/modal.js"></script>
</body>
</html>
