<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Modal Comentario</title>
  <link rel="stylesheet" th:href="@{/css/modal_comment.css}">
</head>
<body>
  <a href="/">Home</a>
  <div class="modal-overlay_comment">
    <div class="modal_comment">
      <label class="modal-label">Comentario</label>
      <textarea class="modal-textarea" placeholder="Escribe tu comentario..."></textarea>

      <div class="modal-actions">
        <button class="btn btn-green">Guardar</button>
        <button class="btn btn-red">Cancelar</button>
      </div>
    </div>
  </div>
</body>
</html>
