<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Report</title>
  <link rel="stylesheet" th:href="@{/css/report.css}">
</head>
<body>
  <a href="/" style="position: absolute; top: 20px; left: 20px; color: #1e3a8a; font-weight: bold;">← Home</a>

  <div class="report">
    <div class="report-title">
      Task: <span th:text="${task.name}">Nombre de la tarea</span>
    </div>

    <div class="report-description">
      Description: <span th:text="${task.description}">Descripción de la tarea</span>
    </div>

    <div class="report-subtitle">Subtasks</div>
    <div class="report-subtasks">
      <div class="subtask" th:each="sub : ${task.subtasks}">
        <div class="subtask-title">Subtask</div>
        <div class="subtask-description" th:text="${sub.description}">Descripción subtarea</div>

        <div class="comment" th:each="com : ${sub.comments}">
          <div class="comment-username" th:text="${com.user.name}">Nombre del usuario</div>
          <hr>
          💬 <span th:text="${com.comment}">Comentario</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
